.cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 21px;
  column-gap: 17px;
  max-width: 880px;
  justify-content: center;
}

.elements {
  position: relative;
  width: 282px;
  height: 361px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.elements__trash {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  padding: 0;
  background-image: url(../images/Trash.svg);
  cursor: pointer;
  z-index: 1;
}

.elements__image {
  width: 100%;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.elements__info {
  max-width: 246px;
  font-family: "Inter";
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  box-sizing: content-box;
  margin: 26px auto;
}

.elements__info-title {
  max-width: 220px;
  line-height: 1.2;
  font-family: "Inter-Black", sans-serif;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__info-button {
  border: none;
  width: 25px;
  height: 19px;
  background: url(../images/Group.svg) center no-repeat;
}

.elements__info-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.elements__info-button_active {
  background: url(../images/like_actived.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 584px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 21px;
    column-gap: 17px;
    max-width: 880px;
  }
}
