.header {
  max-width: 880px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 41px;
  margin-top: 45px;
  margin-bottom: 42px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 584px) {
  .header {
    padding-bottom: 32px;
    max-width: 320px;
    width: 100%;
    margin-top: 34px;
    box-sizing: border-box;
  }
}
