.popup {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.popup__container {
  max-width: 430px;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  padding-bottom: 34px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__form-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  margin-left: 36px;
  margin-top: 34px;
  margin-bottom: 54px;
}

.popup__form-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  max-width: 358px;
  width: 100%;
}

.popup__form-occupation {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  max-width: 358px;
  width: 100%;
}

.popup__form-button {
  background: #000000;
  border-radius: 2px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  max-width: 358px;
  width: 100%;
  height: 56px;
}

.popup__form-button:disabled {
  background-color: lightgray;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__button-close {
  height: 40px;
  background-image: url(../images/close-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-bottom: 350px;
}

.popup__input-error {
  border-bottom: 1px solid red;
}

.popup__button-close_image {
  margin-bottom: 0;
  margin-left: 100%;
}

.popup__button-close:hover {
  opacity: 0.8;
}

.popup__img {
  /*  max-width: 550px; */
  max-width: 75vw;
  max-height: 75vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.popup__image-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  line-height: 100%;
  max-width: 291px;
}

.popup__error {
  color: red;
  width: 100%;
  max-width: 358px;
  margin-bottom: 30px;
}

@media screen and (max-width: 584px) {
  .popup_profile {
    /* max-width: 282px; */
    align-items: center;
  }

  .popup_add {
    max-width: 282px;
    align-items: center;
  }

  .popup_opened {
    flex-direction: column-reverse;
  }

  .popup__container {
    max-width: 282px;
    width: 100%;
  }

  .popup__form-button {
    max-width: 238px;
    width: 100%;
    height: 46px;
  }

  .popup__form-name {
    max-width: 238px;
    width: 100%;
  }

  .popup__form-occupation {
    max-width: 238px;
    width: 100%;
  }

  .popup__button-close {
    margin-left: 260px;
    margin-bottom: 0;
  }

  .popup__error {
    color: red;
    width: 100%;
    max-width: 358px;
    margin-bottom: 30px;
    margin-left: 30px;
  }
}
